<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Select your allergies ❎
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item id="allergens" [button]="true" [detail]="false">
      <ion-label slot="start">Allergens</ion-label>
      <div slot="end">{{ selectedAllergensText }}</div>
    </ion-item>
  </ion-list>

  <div class="parent">
    <ion-button class="child" (click)="saveAllergens()">Save</ion-button>
  </div>
</ion-content>

<ion-modal trigger="allergens" #allergenModal>
  <ng-template>
    <app-typeahead class="ion-page"
                   [items]="allergens"
                   [selectedItems]="usersAllergies"
                   (selectionChange)="allergenSelectionChanged($event, allergenModal)"
                   (selectionCancel)="allergenModal.dismiss()"></app-typeahead>
  </ng-template>
</ion-modal>
