<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Legal Notice:
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Disclaimer of Liability</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>This legal statement makes it clear that developers of this application, hereby referred to as "Developers," disclaim any liability for any consequences, damages, or discrepancies resulting from the use of this software.</p>

      <p>The Developers assume no responsibility for direct, indirect, incidental, special, or consequential damages, including but not limited to loss of profits, physical injury, death, or intangible losses.</p>

      <p>Any use of this software is at the user's own risk. By continuing to use this application, the user agrees to release the Developers from any liability and agrees to indemnify them against any legal claims that may arise.</p>

      <p>Any legal questions, disputes, or complaints regarding this software should be directed to our esteemed instructor, Alex. Alex hereby assumes any legal responsibility and undertakes to handle any situation with the necessary expertise and care.</p>

      <p>For further information or legal inquiries, please contact Alex.</p>

      <p>We thank you for your understanding and cooperation.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
